<nav class="nav">
    <a href="/">
        <img src="./assets/logo.png" alt="" width="80px">
    </a>
    <ul class="nav__lista">
        <a class="nav__links" href="#">
            <li>Sobre</li>
        </a>
        <a class="nav__links" href="#">
            <li>Perfil</li>
        </a>
        <a class="nav__link-amarelo" href="../perguntar">
            <li>Perguntar</li>
        </a>
    </ul>
</nav>