<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs")%>
</head>

<body>
    <h3>Perguntas:</h3>
    <a href="./perguntar">
        <h3>Perguntas:</h3>
    </a>
    <h3>Perguntas:</h3>
    <%- include ("partials/script.ejs") %>
</body>

</html>