.container {
    display: flex;
    justify-content: center;
}

.titulo__home {
    margin: .5em;
    text-align: center;
}

.card {
    width: 850px;
    margin: 1em 0;
    border-radius: .5em;
}

.btn__responder-home {
    width: 130px;
    padding: .5em 0;
    border: none;
    border-radius: .5em;
    background-color: var(--amarelo);
    font-weight: 400;
    color: var(--branco);
}

.btn__responder-home:hover {
    opacity: 80%;
}

.relacionados {
    position: absolute;
    top: 180px;
    right: 100px;
}