.nav {
    padding: 0 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
}

.nav__lista {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav__links {
    list-style: none;
    color: var(--branco);
}

.nav__link-amarelo {
    padding: .5em;
    list-style: none;
    border-radius: .5em;
    background-color: var(--amarelo);
    color: var(--branco);
    font-weight: 500;
}

.nav__links:hover,
.nav__link-amarelo:hover {
    text-decoration: none;
    color: var(--branco);
}