.container__pergunta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card__perguntar {
    margin: 2em auto;
    padding: 1em;
    width: 500px;
    text-align: center;
    background-color: var(--branco);
    border-radius: .5em;
}

.card__perguntar-titulo {
    margin: .5em 0 1em;
}

.form-group__perguntar {
    margin-bottom: 2em;
    position: relative;
}

.input__perguntar {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 15px;
    border: 1px solid var(--cinza-escuro);
    border-radius: .5em;
}

.text__perguntar {
    padding-top: 10px;
    padding-left: 15px;
    width: 100%;
    min-height: 40px;
    outline: none;
    border: 1px solid var(--cinza-escuro);
    border-radius: .5em;
}

.placeholder__perguntar,
.placeholder__perguntar-desc {
    position: absolute;
    top: 8px;
    left: 12px;
}

.input__perguntar:valid~.placeholder__perguntar,
.input__perguntar:focus~.placeholder__perguntar,
.text__perguntar:focus~.placeholder__perguntar-desc,
.text__perguntar:valid~.placeholder__perguntar-desc {
    left: 0;
    opacity: 1;
    transform: translateY(-28px);
    font-size: 14px;
}

.btn__perguntar {
    width: 200px;
    padding: .5em 0;
    border: none;
    border-radius: .5em;
    background-color: var(--roxo);
    font-weight: bold;
    color: var(--branco);
}

.btn__perguntar:hover {
    opacity: 80%;
}