@import url("./perguntar.css");
@import url("./nav.css");

:root {
    --background: #343a40;
    --preto: #000000;
    --branco: #ffffff;
    --cinza-escuro: #999999;
    --cinza: #eceff1;
    --roxo: #6f42c1;
    --amarelo: #ffc107;
}

body {
    background-color: var(--cinza);
}